@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

.note-editor.note-frame {
    color: var(--bs-body-color) !important;
}

.note-toolbar {
    background: var(--bs-body-bg) !important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

body {
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 60px;
}

.theme-icon {
    width: 16px;
    height: 16px;
}

.note-editor .dropdown-toggle::after {
    all: unset;
}

.note-editor .note-dropdown-menu {
    box-sizing: content-box;
}

.note-editor .note-modal-footer {
    box-sizing: content-box;
}

.profile-picture-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.profile-picture-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-profile-picture-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.post-profile-picture-container img {
    width: 100%;
    height: auto;
    display: block;
}