@model (string Url, string UserId)
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<div id="post-feed"></div>

<div id="loading" class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

@Html.PartialSectionScripts(
    @<script>
        $(function() {
            PostFeedJs.init('#post-feed', '@Model.Url', '@Model.UserId', 5, '@requestToken');
        })
    </script>
)