<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <script type="text/javascript" src="~/js/theme.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MicroBlog.Web</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MicroBlog.Web.styles.css" asp-append-version="true" />
    <link href="~/lib/summernote/summernote-lite.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <partial name="_NavbarPartial" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer py-3">
        <div class="border-top">
            <div class="container d-flex flex-wrap justify-content-between align-items-center">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary text-nowrap">© @DateTime.UtcNow.Year MicroBlog, Artjoms Strelkovs & Nikita Kruglovs</span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://github.com/truearogog/MicroBlog"><i class="fa-brands fa-github fa-lg"></i></a>
                    </li>
                    <li class="ms-3">
                        <a class="text-body-secondary" href="https://www.linkedin.com/in/artox/"><i class="fa-brands fa-linkedin fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="~/lib/summernote/summernote-lite.min.js"></script>
    <script src="https://kit.fontawesome.com/aadb14d1b1.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.RenderPartialSectionScripts()
</body>
</html>