@{
    void RenderThemeButton(string value, string icon, string name)
    {
        <li>
            <button type="button" class="btn btn-link dropdown-item d-flex align-items-center text-light" data-bs-theme-value="@value" aria-pressed="false">
                <div class="d-flex justify-content-center theme-icon me-2"><i class="@icon"></i></div>@name
            </button>
        </li>
    }
}

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <button id="theme-switcher" class="nav-link text-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle theme">
            <i id="theme-icon" class="fa-regular fa-circle"></i>
            <span id="theme-text" class="visually-hidden">Toggle theme</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end bg-dark">
        @{
            RenderThemeButton("light", "fa-solid fa-circle", "Light");
            RenderThemeButton("dark", "fa-regular fa-circle", "Dark");
            RenderThemeButton("auto", "fa-solid fa-circle-half-stroke", "Auto");
        }
        </ul>
    </li>
</ul>