@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="mx-auto">
    <h1 class="h3 mb-3 fw-normal">Please check your email to reset your password</h1>
</div>

